@using Pertemps.Common.Enumerations;
@model Pertemps.Web.Models.PickerViewModel;
@{
    ViewData["Title"] = "Choose a Period";
}

<h1>📅 Choose a Period</h1>

<section class="PeriodPicker">
    @for(var year = 2010; year <= 2017; year++)
    {
    <div>
        @year  : 
        <a href="/Analytics/Report/SalesData/@year/@Quarter.Q1/@Model.Region/@Model.Country/@Model.ItemType/@Model.SalesChannel/@Model.OrderPriority/">@Quarter.Q1</a> | 
        <a href="/Analytics/Report/SalesData/@year/@Quarter.Q2/@Model.Region/@Model.Country/@Model.ItemType/@Model.SalesChannel/@Model.OrderPriority/">@Quarter.Q2</a> |
        <a href="/Analytics/Report/SalesData/@year/@Quarter.Q3/@Model.Region/@Model.Country/@Model.ItemType/@Model.SalesChannel/@Model.OrderPriority/">@Quarter.Q3</a> |
        <a href="/Analytics/Report/SalesData/@year/@Quarter.Q4/@Model.Region/@Model.Country/@Model.ItemType/@Model.SalesChannel/@Model.OrderPriority/">@Quarter.Q4</a>
    </div>
    }
</section>