/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


table {
    width: 90%;
    margin: 20px 5%;
}

th.numeric,
td.numeric {
    text-align: right;
}

a.showAll {
    float: right;
    font-size: 0.6em;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    border: #aaa 1px solid;
}

h1 {
    font-size: 2rem;
}

h2 {
    text-align: right;
    font-size: 1.5rem;
}

h3 {
    text-align: right;
    font-size: 1.1rem;
}

h4 {
    border-bottom: #aaa 3px double;
    padding: 10px 0px;
    border-top: #aaa 3px double;
}

.RegionPicker div,
.CountryPicker div {
    display: inline-block;
    width: 30%;
    padding: 10px 5px;
    min-height:50px;
    background-color:#fcfcfc;
    margin:5px;
    border-radius:5px;
    text-align:center;
    border:#eee 1px solid;
}

.PeriodPicker div {
    padding: 20px 0px 20px 30px;
    min-height: 50px;
    background-color: #fcfcfc;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border: #eee 1px solid;
    font-size:1.5rem;
}

nav {
    text-align: right;
}

.pieCharts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    margin:20px 0px;
}

.pieChart-container {
    width: 300px;
    position: relative;
    display: inline-block;
    justify-self: center;
}

.pieChart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 500px;
    border: #fcfcfc 1px solid;
}

.pie.DivisionData {
    background: #444;
}

.pie.SalesChannel {
    background: #777;
}

.pie.OrderPriority {
    background: #aaa;
}

.segment__Personal_Care {
    --bg: #ff0000;
}

.segment__Cosmetics {
    --bg: #ffcc00;
}

.segment__Fruits {
    --bg: #ffff00;
}

.segment__Baby_Food {
    --bg: #ccff00;
}

.segment__Beverages {
    --bg: #00ff00;
}

.segment__Office_Supplies {
    --bg: #00ffcc;
}

.segment__Vegetables {
    --bg: #00ffff;
}

.segment__Clothes {
    --bg: #00ccff;
}

.segment__Meat {
    --bg: #0000ff;
}

.segment__Household {
    --bg: #cc00ff;
}

.segment__Cereal {
    --bg: #ff00ff;
}

.segment__Offline {
    --bg: #ffcc00;
}

.segment__Online {
    --bg: #ccff00;
}

.segment__H {
    --bg: #cc00ff;
}

.segment__C {
    --bg: #00ffcc;
}

.segment__L {
    --bg: #ff00cc;
}

.segment__M {
    --bg: #00ccff;
}

.pie {
    border-radius: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.pie__segment {
    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0)) * 100%);
    --degrees: calc((var(--offset, 0) / 100) * 360);
    -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    height: 100%;
    position: absolute;
    -webkit-transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 100%;
    z-index: calc(1 + var(--over50));
}

    .pie__segment:after,
    .pie__segment:before {
        background: var(--bg, #e74c3c);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .pie__segment:before {
        --degrees: calc((var(--value, 45) / 100) * 360);
        -webkit-transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
        transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    .pie__segment:after {
        opacity: var(--over50, 0);
    }

* {
    box-sizing: border-box;
}

.pie__segment {
    opacity: 0.6;
}

    .pie__segment.hovered {
        opacity: 1;
    }
